body {
    margin: 0;
    padding: 0;
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.topBar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}
.topBar nav {
    display: block;
}
.topBar nav a {
    color: white;
    margin: 0px 20px;
    text-decoration: none;
}
.topBar i {
    display: none;
}
footer {
    width: 100%;
    height: 100%;
    /* background-color: purple; */
    text-align: center;
}
h1 {
    color: white;
    padding: 5px;
}
h2 {
    text-align: center;
}
h3 {
    padding-top: 5vh;
    text-align: center;
    padding-bottom: 5vh;
}
p {
    color: white;
    padding-bottom: 10px;
}
li {
    color: white;
    display: inline-block;
    padding: 15px 30px;
}
li2 {
    display: inline-block;
    padding: 15px 30px; */
}
/* .heroImg {
    height: 600px;
    padding: 25px;
} */
.content {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}
.myFace {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 20px; */
}
button {
    width:72px;
	height:26px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
    border-bottom-right-radius:100px;
    color:rgba(255, 255, 255, 1);
	opacity:1;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
    line-height:undefined;
    border: 1px solid white;
    background-color: black;
}
button:hover {
    background-color: white;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    nav {
        text-align: right;
        height: 6vh;
    }
    footer {
        display: none;
    }
}
.flexContainer{
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "skill1 skill2 skill3";
     /* margin-right: auto;
    margin-left: auto; */
     /* margin-right: auto;
    margin-left: auto; */
    /* margin: 0 auto; */
    /* max-width: 80vw; */
}
.skillDes {
    padding: 10px;
    /* margin-right: 5vw;
    margin-left: 5vw; */
    /* margin: 10px; */
    /* background-color: red; */
}
h1 {
    text-align: center;
}
h2 {
    text-align: Center;
    padding-bottom: 3vh;
}
.skill {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.workGrid {
    /* margin: 0 auto; */
    width: 80vw;
    /* margin-left: auto;
    margin-right: auto; */
    grid-gap: 10px;
    /* border-radius: 7px;
	box-shadow: 0 2px 6px 0; */
    display: grid;
    /* height: 50vp;
    width: 100vw; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "container1 container4"
    "container2 container5"
    "container3 container6"
}

button {
    width: auto;
	height: auto;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
    border-bottom-right-radius:100px;
    color:rgba(255, 255, 255, 1);
	opacity:1;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
    line-height:undefined;
    border: 1px solid white;
    background-color: black;
    padding: 10px 10px;
}
button:hover {
    background-color: white;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid black;
  }
#allProjects {
    font-size: 20px;
}
#container1 {
  /* background-color: orange; */
  grid-area: container1;
  margin-left: auto;
  margin-right: auto;
}
#container2 {
  /* background-color: red; */
  grid-area: container2;
  margin-left: auto;
  margin-right: auto;
}
#container3 {
  /* background-color: gray; */
  grid-area: container3;
  margin-left: auto;
  margin-right: auto;
}
#container4 {
  /* background-color: green; */
  grid-area: container4;
}
#container5 {
  /* background-color: purple; */
  grid-area: container5;
}
#container6 {
  /* background-color: pink; */
  grid-area: container6;
}
#skill1 {
    grid-area: skill1;
}
#skill2 {
    grid-area: skill2;
}
#skill3 {
    grid-area: skill3;
}

@media only screen and (max-width: 768px) {
    .flexContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr 1fr;
        grid-template-areas:
        "skill1"
        "skill2" 
        "skill3";
    }
    .workGrid {
        /* grid-gap: 10px;
        border-radius: 7px;
        box-shadow: 0 2px 6px 0; */
        display: grid;
        /* height: 50vp; */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "container1"
        "container4"
        "container2"
        "container5"
        "container3"
        "container6"
    }
    .projectPhoto {
        width: 100%;
        width: 400px;
        max-height: auto;
    }
    .projectPhoto1 {
        width: 100%;
        max-width: auto;
        max-height: 200px;
    }
    .content {
        width: 300px;
        margin: 0 auto;
        text-align: left;
    }
}
.mySkills {
    background: white;
}
.myWork {
    background: white;
    /* max-width: 80vw; */
    
}
.aboutMe {
    background-color: black;
    /* height: 65vh; */
    
}
.viewProject {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
@media only screen and (max-width: 650px) {

    .topBar nav{
        display: none;
        
    }
    .topBar i{
        display: flex;
        color: white;
    }

}
.buttons {
    display: flex;
    justify-content: space-evenly;
    /* margin-left: auto;
    margin-right: auto; */
    padding-bottom: 15px;
}
.projectPhoto {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 17px;
    position: absolute;
    
    
}
h4 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 28px;
    padding-bottom: 14px;
}
p2 {
    font-size: 15px;
    padding-bottom: 14px;
}
input {
    width: 70%;
    display: block;
    margin: 14px auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 14px;
}
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}